<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JAVA1_TP2_bankonet/src/com/bankonet/model/TestCompteCourant.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.bankonet.model.TestCompteCourant"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JAVA1_TP2_bankonet"/>
</launchConfiguration>
